body{
    color: white;
    background-color: darkgreen;
}

.ruleta {
    border-collapse: collapse;
}

.ruleta td {
    text-align: center;
    border: 2px solid yellow;
}

td.vacia {
    border: none;
}

.ruleta input {
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border: none;
    background-color:darkgreen;
}

input.rojo {
    background-color: darkred;
}

input.negro {
    background-color: black;
}
